{% extends 'roshannav.html' %}
{% block title %}sport{% endblock %}
{% block content %}



<div class="carousel-wrapper">
    <div class="carousel-container" style="overflow: hidden;">
        <!-- Repeat the following content-box structure for each item -->
        <div class="container">
            <div class="content-box">
                <!-- Video content -->
                <div class="pro">
                    <video width="100%" height="100%" controls>
                        <source src="static/img/intro3.mp4" type="video/mp4">
                    </video>
                    <!-- Description -->
                    <div class="des">
                        <span>Premium combo package 4g</span>
                        <h5>1 Month</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Rs. 264/-</h4>
                        <a href="{{url_for('auth.watchvideo')}}"><button type="submit" class="btnsmall">Watch Now</button></a>
                    </div>
                </div>
            </div>
        </div>
                <!-- Repeat the above content-box structure for each item -->
        <div class="container">
          <div class="content-box">
            <div class="pro">
              <video width="100%" height="100%" controls>
                <source src="static/img/intro3.mp4" type="video/mp4">
              </video>
              <div class="des">
                <span>Premium unlimited combo package</span>
                <h5>1 year</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.5896</h4>
                <a href="{{url_for('auth.watchvideo')}}"><button type="submit" class="btnsmall">Watch Now</button></a>
              </div>
            </div>
          </div>
          <!-- End content-box -->
                 <!-- Repeat the above content-box structure for each item -->
        <div class="container">
          <div class="content-box">
            <div class="pro">
              <video width="100%" height="100%" controls>
                <source src="static/img/intro3.mp4" type="video/mp4">
              </video>
              <div class="des">
                <span>Premium  1 day pack</span>
                <h5>24 hour</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs. 29 lakh</h4>
                <a href="{{url_for('auth.watchvideo')}}"><button type="submit" class="btnsmall">Watch Now</button></a>
              </div>
            </div>
          </div>
          <!-- End content-box -->
                 <!-- Repeat the above content-box structure for each item -->
        <div class="container">
          <div class="content-box">
            <div class="pro">
              <video width="100%" height="100%" controls>
                <source src="static/img/intro3.mp4" type="video/mp4">
              </video>
              <div class="des">
                <span>Premium  3 day pack</span>
                <h5>3 days</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs. 296</h4>
                <a href="{{url_for('auth.watchvideo')}}"><button type="submit" class="btnsmall">Watch Now</button></a>
              </div>
            </div>
          </div>
          <!-- End content-box -->
                 <!-- Repeat the above content-box structure for each item -->
        <div class="container">
          <div class="content-box">
            <div class="pro">
              <video width="100%" height="100%" controls>
                <source src="static/img/intro3.mp4" type="video/mp4">
              </video>
              <div class="des">
                <span>Premium  15 day pack </span>
                <h5>unlimited 15 days</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs. 296</h4>
                <a href="{{url_for('auth.watchvideo')}}"><button type="submit" class="btnsmall">Watch Now</button></a>
              </div>
            </div>
          </div>
          <!-- End content-box -->
                 <!-- Repeat the above content-box structure for each item -->
        <div class="container">
          <div class="content-box">
            <div class="pro">
              <video width="100%" height="100%" controls>
                <source src="static/img/intro3.mp4" type="video/mp4">
              </video>
              <div class="des">
                <span>Land</span>
                <h5>2 Anna 6 ropani</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs. 29 lakh</h4>
                <a href="{{url_for('auth.watchvideo')}}"><button type="submit" class="btnsmall">Watch Now</button></a>
              </div>
            </div>
          </div>

        
          <!-- End content-box -->
                 <!-- Repeat the above content-box structure for each item -->
        <div class="container">
          <div class="content-box">
            <div class="pro">
              <video width="100%" height="100%" controls>
                <source src="static/img/intro3.mp4" type="video/mp4">
              </video>
              <div class="des">
                <span>Land</span>
                <h5>2 Anna 6 ropani</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs. 29 lakh</h4>
                <a href="{{url_for('auth.watchvideo')}}"><button type="submit" class="btnsmall">Watch Now</button></a>
              </div>
            </div>
          </div>
          <!-- End content-box -->
         
      </div>
    </div>
    
      

  </div>
  {% endblock %}
